/* Reset Css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slash_screen_wrapper {
	display: block;
}
main {
	display: none;
}

/* ! Slash Screen */
.slash_screen_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
}
.slash_screen_content img {
	width: 100%;
	height: 100vh;
	object-fit: fill;
}
/* ! Hero Section Style with 12 grid */
.hero_content_area {
	background-color: black;
	position: relative;
}
.top_image,
.bottom_image,
.yellow_line,
.arrow_icon,
.boogie_lane_logo,
.scratch_image {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}
.boogie_lane_logo {
	width: 167px;
	z-index: 2;
	left: 150px;
	top: 20px;
}
.scratch_image {
	width: 348px;
	left: 220px;
	bottom: 95px;
}
.top_image {
	top: 0;
}
.bottom_image {
	bottom: 0;
}
.yellow_line {
	top: 50%;
	transform: translateY(-50%);
}
.arrow_icon {
	width: 111px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out;
}
.arrow_icon:hover {
	width: 130px;
}
.hero_section_wrapper {
	--s: 220px;
	display: grid;
	height: 100vh;
	gap: 8px;
	grid-auto-flow: column;
	place-items: center;
}
.hero_section_wrapper > img {
	width: 0;
	min-width: calc(140% + var(--s));
	height: 0;
	min-height: 100%;
	object-fit: fill;
	clip-path: polygon(var(--s) 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
	cursor: pointer;
	transition: 0.5s;
}
.hero_section_wrapper > img:first-child {
	min-width: calc(80% + var(--s) / 2);
	place-self: start;
	clip-path: polygon(0 0, 100% 0, calc(100% - var(--s)) 100%, 0 100%);
}
.hero_section_wrapper > img:last-child {
	min-width: calc(80% + var(--s) / 2);
	place-self: end;
	clip-path: polygon(var(--s) 0, 100% 0, 100% 100%, 0 100%);
}

/* Audio Play and stop floating icon */
.vinel_wrap {
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 30px;
	cursor: pointer;
}
.vinel_wrap img {
	width: 70px;
	height: 70px;
}
.vinel_wrap img.playing {
	animation: spin 2s linear infinite;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Responsive */
@media screen and (max-width: 768px) {
	.scratch_image {
		display: none;
	}
}
/* ! Mobile Responsive */
@media screen and (max-width: 480px) {
	.boogie_lane_logo {
		left: 40px;
	}
	.arrow_icon {
		width: 60px;
	}
	.arrow_icon:hover {
		width: 80px;
	}
}
